<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <div class="box" id="heading">
        <h1 id="heading"><%= item %> </h1>
    </div>
    <div class="box">
        <%listitem.forEach(function(itm){%>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%=itm._id%>" onchange="this.form.submit()">
                <p><%= itm.Item%></p>
            </div>
        </form>
        <%})%>
        <form class="item" action="/" method="POST">
            <input type="text" name="item" id="" autocomplete="off" placeholder="what's your agenda?">
            <button type="submit">+</button>
        </form>
    </div>
</body>

</html>